<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<div class="pdb_depositing">
  <h2>This tool will help you collect information for depositing
your PDB file into the Protein Data Bank</h2>
<p>When you press the button, the information contained in the
experiment and dataset will be collected and inserted into the
author-infor.text template. It is not yet complete after that,
you will still need to add further information.</p>
<div class="show-button" id="btn">Show author-infor.text</div>
</div>

<script type="text/javascript">
$(".show-button").bind(function(event){

});
var dataset_file_id = "{{dataset_file_id}}";
</script>
<form>
{{ form }}
<p>
<input type="submit" value="Download" />
<input type="submit" value="Save for later" />
</p>
</form>